.progress {
    background: green;
    display: block;
    height: 20px;
    text-align: center;
    transition: width .3s;
    width: 0;
}

.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}